/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.App {
  --color-background: rgb(31, 31, 31);
  --color-primary: rgb(219, 40, 40);
  --color-primary-light: rgb(255, 64, 64);
  --color-primary-dark: rgb(161, 25, 25);
  --color-secondary: rgb(242, 113, 28);
  --color-secondary-light: rgb(255, 161, 51);
  --color-secondary-dark: rgb(180, 77, 0);
  --color-tertiary: rgb(212, 175, 55);
  --color-tertiary-light: rgb(232, 216, 67);
  --color-tertiary-dark: rgb(168, 143, 45);
  --color-text: rgb(245, 245, 245);
  --color-text-light: rgb(255, 255, 255);
  --color-text-dark: rgb(194, 194, 194);
  --color-accent: rgb(255, 163, 158);
  --color-success: rgb(82, 196, 26);
  --color-warning: rgb(250, 173, 20);
  --color-error: rgb(245, 34, 45);
  background-color: var(--color-background);
  color: var(--color-text);
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

h1 {
  color: var(--color-text);
}

p {
  color: var(--color-text);
}