.classification-badge {
    /* White background with thick black border */
    background-color: #fff;
    border: 5px solid #000;
    width: fit-content;
    padding: 0 0.5rem;
}

.classification-badge-text {
    /* Black text */
    color: #000;
    font-weight: 600;
    font-family: georgia, serif;
}