.banner {
    background-image: linear-gradient(
        var(--color-primary-dark),
        var(--color-background)
    );
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    opacity: 1;
    transition: opacity 0.1s ease-in-out;
    display: grid;
    box-shadow: 0.2rem 0.2rem 0.2rem #000;
    margin-bottom: 2rem;
    height: 75vh;
}

.banner:hover .welcome-message {
    /* position: absolute; */
    opacity: 0;
    z-index: 0;
    transition: opacity 0.1s ease-in-out;
}

.banner:not(:hover) {
    filter: brightness(0.8);
}


.welcome-message {
    /* position: absolute; */
    z-index: 1;
    padding: 2rem;
    margin: 2rem;
    backdrop-filter: blur(10px) brightness(0.75);
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.2rem #000;
}

.overlay-child {
    grid-row-start: 1;
    grid-column-start: 1;
}

.curtain {
    width: 100%;
    height: 100%;
    /* background-color: var(--color-primary-dark); */
    background-image: linear-gradient(
        var(--color-primary-dark),
        var(--color-background)
    );
    opacity: 0.5;
}

.curtain.right {
    transform: translateX(50%);
    transition: transform 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.curtain-frame:hover .curtain.right {
    transform: translateX(100%);
    transition: transform 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.curtain.left {
    transform: translateX(-50%);
    transition: transform 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.curtain-frame:hover .curtain.left {
    transform: translateX(-100%);
    transition: transform 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.year-label {
    margin: 0 2rem;
}