.separator {
    background: linear-gradient(
        to right,
        transparent,
        var(--separator-color),
        transparent
    );
}

.vertical {
    min-width: 1px;
    height: 100%;
}

.horizontal {
    width: 100%;
    min-height: 1px;
}