.separator {
    clear:both;
    background: linear-gradient(
        var(--angle, 0deg),
        transparent,
        var(--separator-color),
        transparent
    );
}

.vertical {
    width: 1px;
    min-width: 1px;
    align-self: stretch;
    --angle: 0deg;
}

.horizontal {
    height: 1px;
    min-height: 1px;
    align-self: stretch;
    --angle: 90deg;
}