.ratings-container {
    display: flex;
    gap: 1rem;
    width: 100%;
    flex-direction: var(--ratings-direction, row);
    align-items: flex-start;
    flex-wrap: wrap;
}

.rating-container {
    width: 8em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rating-source {
    text-align: center;
    font-weight: 700;
}