.movie-grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
}

.movie-grid-container:hover .movie-card:not(:hover) {
    filter: grayscale(85%) brightness(0.5);
    opacity: 0.75;
}